<section ng-controller="EventCtrl">

   
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="navigateUp()" class="md-icon-button">
                <i class="material-icons">arrow_back</i>
            </md-button>
            <h1>{{Event.Title}}</h1>
            <span flex></span>
           
            <md-button ng-click="register()" class="md-raised md-warn">Book now</md-button>
        </div>
    </md-toolbar>
    <div layout="row" flex>
       
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 md-padding no-padding-top" md-component-id="chatpane">

            <p>
                Just ask a question - our support staff is ready to assist you with any question any time!
            </p>

        </md-sidenav>

        <md-tabs flex md-dynamic-height md-border-bottom>
            <md-tab label="Overview" >
            <md-content  >

                <div hide-gt-sm style="height:240px;max-height:240px;">
                    <img  ng-src="/content/img/{{Event.ImagePath}}" style="width:100%"  alt="">
                </div>

                <div layout="row">

                       

                <div class="md-padding">
                    <i class="material-icons">event</i> 25.03.2015 - 28.03.2015
            
                    <p class="descr-text no-bottom">
                        {{Event.Description}}
                    </p>
                </div>

                <div hide-sm flex="40">
                    <img  ng-src="/content/img/{{Event.ImagePath}}"  alt="">
                </div>

                </div>


            </md-content>
            </md-tab>
            <md-tab label="Dates">
            <md-content flex="100" class="md-padding">
               
                 <table style="width:100%" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric cell-middle"><i class="material-icons">event</i></th>
                      <th class="mdl-data-table__cell--non-numeric cell-middle"><i class="material-icons">location_on</i></th>
                      <th class="cell-middle"><i class="material-icons">event_seat</i> avail.</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <td class="mdl-data-table__cell--non-numeric cell-middle">20.10 - 23.10.2015</td>
                      <td class="mdl-data-table__cell--non-numeric cell-middle"><strong>Nueremberg</strong></td>
                      <td class="cell-middle">25</td>
                      <td><md-button style="position:relative;top:-6px;"  class="mdl-button mdl-js-button mdl-button--raised" ng-click="register()">Book</md-button> </td>
                    </tr>
                    <tr class="descr-text">
                      <td class="mdl-data-table__cell--non-numeric cell-middle">20.11 - 23.11.2015</td>
                      <td class="mdl-data-table__cell--non-numeric cell-middle"><strong>Munich</strong></td>
                      <td class="cell-middle">0</td>
                      <td> <md-button style="position:relative;top:-6px;" disabled class="mdl-button mdl-js-button mdl-button--raised" ng-click="register()">Book</md-button> </td>
                    </tr>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric cell-middle">03.12 - 06.12.2015</td>
                      <td class="mdl-data-table__cell--non-numeric cell-middle"><strong>Hamburg</strong></td>
                      <td class="cell-middle">10</td>
                      <td> <md-button style="position:relative;top:-6px;" class="mdl-button mdl-js-button mdl-button--raised" ng-click="register()">Book</md-button> </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <td class="mdl-data-table__cell--non-numeric descr-text cell-middle" style="background-color:#f5f5f5" colspan="4">
                      <i class="material-icons">info_outline</i> You may cancel any booking 7 days prior to start date.
                    </td>
                  </tfoot>
                </table>

            </md-content>
            </md-tab>
            <md-tab label="Participants">
            <md-content flex="100" class="md-padding">
                cd
            </md-content>
            </md-tab>
        </md-tabs>
            
    </div>

    <md-button ng-click="toggleChatPane()" style="position:fixed;right:10px;bottom:10px;" class="md-fab" aria-label="Ask a question">
            <i class="material-icons">chat</i>
    </md-button>

</section>
