h4 {
  font-size: 16px;
  /*font-weight:bold;*/
}
.md-default-theme {
  /*//background-color:#e9e9e9;*/
}
.icon-white {
  color: #fff;
}
md-grid-tile {
  background-color: white;
  -webkit-box-shadow: 2px 3px 6px 0px #7d7d7d;
  -moz-box-shadow: 2px 3px 6px 0px #7d7d7d;
  box-shadow: 2px 3px 6px 0px #7d7d7d;
}
md-grid-tile-header {
  color: gold !important;
  background-color: transparent !important;
}
md-grid-tile-footer {
  font-family: Roboto !important;
  font-weight: 700 !important;
}
.promo-full {
  width: 100%;
}
.promo-product {
  width: 80%;
  margin-bottom: 20%;
}
.promo-button {
  position: absolute;
  right: 0px;
  top: -40px;
}
.promo-green {
  background-color: #FFF9C4 !important;
}
.promo-full-image {
  width: 100%;
}
.promo-text-section {
  position: relative;
  top: -20px;
  text-align: center !important;
}
.no-bottom {
  margin-bottom: 4px;
}
.no-padding-top {
  padding-top: 0px;
}
footer {
  background-color: #808080 !important;
  font-family: Roboto, Arial, Helvetica, sans-serif !important;
  font-weight: 300 !important;
  margin-top: 20px !important;
  color: #ededed !important;
  padding: 20px !important;
  font-size: 15px !important;
}
footer a {
  font-family: Roboto, Arial, Helvetica, sans-serif !important;
  font-weight: 300 !important;
  font-size: 15px !important;
  margin-top: 8px;
  margin-bottom: 4px;
}
.md-toolbar-tools img.logo {
  height: 28px;
  margin-right: 12px;
}
md-toolbar,
md-toolbar .material-icons,
md-toolbar .md-button {
  color: white;
}
.cart-product-img {
  height: 65px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cart-item {
  font-family: Roboto, Arial, Helvetica, sans-serif !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  padding: 0;
}
.cart-sum {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #efefef;
  font-weight: 600 !important;
}
.md-toolbar-tools .cart-badge {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #EF6C00;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  color: #FFE0B2;
  padding-top: 2px;
  font-size: 11px;
  font-style: normal;
}
.inner-cart-item {
  padding: 8px;
  border-bottom: solid 1px #ccc;
}
.height-transition {
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  overflow-y: hidden;
  max-height: 125px;
}
.height-transition-hidden {
  max-height: 0;
}
/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}
/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}
.product-description {
  padding-left: 30px;
}
.product-description h3,
.product-description h4 {
  margin-top: 0px;
  margin-bottom: 0px !important;
}
.product-description p {
  color: #808080;
  font-family: Roboto, Arial, Helvetica, sans-serif !important;
  font-weight: 400 !important;
  font-size: 17px !important;
}
.product-specifiations {
  background-color: #f9f9f9;
}
.product-specifiations li {
  font-size: 15px !important;
  font-family: Roboto, Arial, Helvetica, sans-serif !important;
  font-weight: 300 !important;
}
md-ink-bar {
  background-color: #FFCA28 !important;
  height: 4px;
}
md-whiteframe {
  background-color: #fff;
}
@media (max-width: 640px) {
  body {
    background-color: #e9e9e9;
  }
  md-content.grey {
    background-color: #e9e9e9;
  }
  h2.md-subheader.grey {
    background-color: #e9e9e9 !important;
  }
}
.search-product-img {
  max-width: 100px;
  margin-right: 20px;
  margin-left: 15px;
}
.md-list-item-text {
  margin-right: 40px;
}
.cell-middle {
  vertical-align: middle !important;
  padding-top: 0px !important;
}
.text-shadow {
  text-shadow: 1px 1px 1px #000;
}
.material-2x {
  font-size: 36px;
}
.material-icons {
  text-align: center;
  user-select: none;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
}
.descr-text {
  color: #888;
}
.badge {
  border-radius: 50%;
  position: relative;
  top: -10px;
  left: -10px;
  width: 22px;
  height: 22px;
  font-size: 14px;
  background-color: gold;
  text-align: center;
  padding-top: 3px;
  font-weight: bold;
  color: black;
}
.badge-inline {
  border-radius: 50%;
  position: relative;
  top: -35px;
  left: 22px;
  width: 22px;
  height: 22px;
  font-size: 14px;
  background-color: gold;
  text-align: center;
  padding-top: 3px;
  font-weight: bold;
  color: black;
  text-shadow: none;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-alert {
  color: #f44336;
}
.bg-alert {
  background: #f44336;
}
.text-info {
  color: gold;
}
.text-primary {
  color: #4caf50;
}
.md-autocomplete-suggestions {
  max-height: 600px !important;
}
.slide-toggle {
  width: 0%;
  opacity: 1;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
  -o-transition: width 2s;
  transition: width 2s;
}
.item-metadata {
  color: #808080;
  margin-left: 10px;
  font-size: 80%;
}
.no-focus:focus {
  outline-width: 0;
  cursor: pointer;
}
.text-figure {
  margin-top: 6px;
  font-weight: bold;
}
