<footer class="mdl-mini-footer" style="margin-top:0px !important;">
   <div class="mdl-mini-footer__left-section" style="padding-left:0px;width:340px;">

    <img src="@Url.Content("~/Content/img/trusted.png")" style="width:80px;float:left;position:relative;top:-40px;left:-10px;margin-bottom:40px;margin-right:20px;" alt="Trusted Shop" />

    <div class="xmdl-logo" style="text-transform:uppercase;width:300px;">
        Unser Service
    </div>
    <ul class="mdl-mini" style="list-style-type:none;width:300px !important;padding-left:0px;font-size:15px">
        <li><i class="material-icons">chevron_right</i> <a href="" style="color:#ededed;text-decoration:none">Service &amp; Support</a></li>
        <li><i class="material-icons">chevron_right</i> <a href="" style="color:#ededed;text-decoration:none">Versandabteilung</a></li>
        <li><i class="material-icons">chevron_right</i> <a href="" style="color:#ededed;text-decoration:none">Geschäftsführung</a></li>
    </ul>
    </div>
    <div class="mdl-mini-footer__right-section" style="padding-left:100px;">
        <div class="xmdl-logo" style="text-transform:uppercase;">
            Rechtliches
        </div>
        <ul class="mdl-mini" style="list-style-type:none;padding-left:0px;font-size:15px">
            <li><i class="material-icons">chevron_right</i> <a href="" style="color:#ededed;text-decoration:none">Impressum</a></li>
            <li><i class="material-icons">chevron_right</i> <a href="" style="color:#ededed;text-decoration:none">Datenschutz</a></li>

        </ul>
    </div>

</footer>
