<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" style="transition: all 0.3s ease-in-out">
    <md-toolbar class=" md-accent">
        <div class="md-toolbar-tools">
            <i class="material-icons" ng-click="toggleNav()" style="color:black;width:35px;">arrow_backward</i>
            <h2>Ihr Konto</h1>
         </div>
    </md-toolbar>
    <md-content layout-padding ng-controller="LeftCtrl">

        <p>
            Work in Progress
        </p>
    </md-content>
</md-sidenav>
